[defaults]
remote_user      = $USER
private_key_file = $HOME/.ssh/id_rsa
inventory        = $HOME/ansible/hosts
forks            = 40

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
